{% extends "tryggve/base_text.html" %}
{% block text %}
{% load static %}
<h2> The Singularity containers </h2> <br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia nisl finibus, bibendum leo rhoncus, dapibus nisi. Nam imperdiet sodales diam porta pellentesque. 
Morbi ornare suscipit enim, non pretium tortor tempor ac. Nam mattis purus vel sapien pharetra pharetra. Fusce dignissim ex eu erat blandit, id lobortis mi bibendum. 
Fusce eget egestas dolor. Mauris fringilla placerat enim nec porta. Sed ex enim, venenatis bibendum facilisis ut, tempus ac ante. 
Pellentesque facilisis odio sapien, sit amet sodales est euismod in. Nulla purus purus, egestas nec ornare ut, pulvinar vel ligula. 
Morbi eu risus tempus, iaculis metus eget, semper diam. Mauris pellentesque, ex vel interdum finibus, diam ex aliquam neque, vitae cursus ex ligula non urna. Donec nec erat nisl. 
Etiam tempor bibendum ipsum ac tristique. Sed dignissim quam turpis, a viverra tellus gravida non.
{% endblock text %}