{% extends "tryggve/base_text.html" %}
{% block text %}
<h2> News</h2><br>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto eos sunt animi numquam obcaecati voluptatum expedita 
repellat voluptatem veritatis, eius quas ducimus vel soluta nostrum assumenda nam perspiciatis omnis nobis.
<li>
    <a href="{% url 'test2-view' %}"> Integrated Rmarkdown/Quarto</a>
</li>
<li> logo?
    <img src="https://neic.no/assets/images/news/Tryggve_logo_fingerprint_small.png" alt=""
    style="width: 250px; height: auto;">
</li>
<li>
    Other websites you like?
</li>
<li>
Headers on the navigation bar?
</li>
{% endblock text %}
